@import 'tailwindcss';

/*=== COLORS === */
@theme {
  --color-purple100: #f8f0ff;
  --color-purple200: #ecd9ff;
  --color-purple300: #dcb9ff;
  --color-purple400: #c894fd;
  --color-purple500: #ab57ff;
  --color-purple600: #9935ff;
  --color-purple700: #861dee;
  --color-purple800: #6e0ad1;
  --color-purple900: #5603a7;

  --color-beige100: #fff0d6;
  --color-beige200: #ffe2ad;
  --color-beige300: #ffc583;
  --color-beige400: #ffae65;
  --color-beige500: #ff8832;

  --color-blue100: #e2f5ff;
  --color-blue200: #b1e4ff;
  --color-blue300: #7cd2ff;
  --color-blue400: #34b9ff;
  --color-blue500: #00a2fe;

  --color-green100: #e4fbdc;
  --color-green200: #d0f5c3;
  --color-green300: #9be282;
  --color-green400: #60cf37;
  --color-green500: #2ba600;

  --color-gray100: #f6f6f6;
  --color-gray200: #eeeeee;
  --color-gray250: #dadcdf;
  --color-gray300: #cccccc;
  --color-gray350: #b6b6b6;
  --color-gray400: #999999;
  --color-gray500: #555555;
  --color-gray600: #4a4a4a;
  --color-gray700: #3a3a3a;
  --color-gray800: #2b2b2b;
  --color-gray900: #181818;

  --color-error: #dc3a3a;
  --color-surface: #dc3a3a;
}

/*=== FONTS === */
@font-face {
  font-family: 'Pretendard';
  src: url('./assets/fonts/PretendardVariable.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-display: swap;
}
@font-face {
  font-family: NotoSans;
  src: url('./assets/fonts/NotoSansVariable.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NanumMyeongjo';
  src: url('./assets/fonts/NanumMyeongjo.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NanumLetter';
  src: url('./assets/fonts/NanumLetter.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pinkfong';
  src: url('./assets/fonts/Pinkfong.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-pretendard: Pretendard, sans-serif;
  --font-pinkfong: Pinkfong, sans-serif;
  --font-noto-sans: NotoSans, sans-serif;
  --font-nanum-myeongjo: NanumMyeongjo, sans-serif;
  --font-nanum-letter: NanumLetter, sans-serif;
}

@layer base {
  body {
    @apply font-pretendard;
  }
}

/* 말줄임표 (2줄) */
.line-clamp-2 {
  display: -webkit-box; /* 멀티라인 블록 */
  -webkit-line-clamp: 2; /* 최대 2줄 */
  -webkit-box-orient: vertical; /* 박스 방향 설정 */
  overflow: hidden; /* 넘치는 텍스트 숨김 */
  text-overflow: ellipsis; /* 말줄임 표시 */
}

/* 텍스트 에디터 관련*/
/* contenteditable 내부 focus ring 완전 제거 */
.ProseMirror:focus-visible {
  outline: none !important;
}
.tiptap ul,
.tiptap ol {
  list-style: none;
}

.tiptap li {
  position: relative;
  padding-left: 1.5rem; 
}

.tiptap ul > li::before {
  content: '•';
  position: absolute;                   /* 여백 기준 왼쪽 */
  top: 50%;
  transform: translateY(-50%);
}

.tiptap ol {
  counter-reset: item;
}

.tiptap ol > li::before {
  counter-increment: item;
  content: counter(item) '.';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.ProseMirror li p {
  margin-left: 1rem;
  display: inline-block !important; 
  width: auto;
}       

.custom-scrollbar::-webkit-scrollbar {
  width: 6px !important;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #cccccc !important;
  border-radius: 8px !important;
  cursor: pointer !important;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: none !important;
}
